flows/Test_Flow-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>BFalse</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>BTrue</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>No</elementReference>
        </value>
    </choices>
    <choices>
        <name>NoB</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Yes</elementReference>
        </value>
    </choices>
    <choices>
        <name>YesB</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <constants>
        <name>Label_No</name>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </constants>
    <constants>
        <name>Label_Yes</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </constants>
    <decisions>
        <name>decision_based_on_question</name>
        <label>decision based on question</label>
        <locationX>578</locationX>
        <locationY>298</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>outcome_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>A1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BTrue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>question_3_screen</targetReference>
            </connector>
            <label>outcome 1</label>
        </rules>
        <rules>
            <name>outcome2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>A1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BFalse</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Q2</targetReference>
            </connector>
            <label>outcome2</label>
        </rules>
    </decisions>
    <interviewLabel>Test Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test Flow</label>
    <processType>Flow</processType>
    <screens>
        <name>Q2</name>
        <label>Q2</label>
        <locationX>380</locationX>
        <locationY>438</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Question2</name>
            <fieldText>Sample Question 2 ?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>A21</name>
            <choiceReferences>Yes</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>A22</name>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>question_3_screen</name>
        <label>question 3 screen</label>
        <locationX>743</locationX>
        <locationY>435</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Question3</name>
            <fieldText>Sample Question 3 ?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>A31</name>
            <choiceReferences>Yes</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>A32</name>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>debug</name>
            <fieldText>A1 =  {!A1}
A2 =</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>question_screen</name>
        <label>question screen</label>
        <locationX>566</locationX>
        <locationY>64</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decision_based_on_question</targetReference>
        </connector>
        <fields>
            <name>question</name>
            <fieldText>Sample Question 1 ?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>A1</name>
            <choiceReferences>BTrue</choiceReferences>
            <choiceReferences>BFalse</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>question_screen</startElementReference>
    <textTemplates>
        <name>q1</name>
        <text>question 1</text>
    </textTemplates>
</Flow>
